.item-container {  
    border: 2px solid #4CAF50;  /* green border, 2px thick */  
    padding: 20px;              /* inner space for better look */  
    border-radius: 8px;         /* rounded corners */  
    max-width: 300px;           /* optional: control form width */  
    margin: 0 auto;             /* optional: center the form */  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */  
  }

.user-text, .password-text
{
  align-self: center;
  width: 20px;
}

.textInput
{
  border: none;
  font-size: large;
}

.save-login-checkbox{
  margin-top: 20px;
}

.login-button{
  color: white;
  background: linear-gradient(to right, #00c6ff, #fb00ff);
  color: white;  
  padding: 10px 30px;  
  border: none;  
  border-radius: 25px;  
  font-size: 16px;  
  cursor: pointer;
  width: 250px;
  margin-top: 20px;
  transition: background 0.3s ease; 
}

.button-gradient:hover {  
  background: linear-gradient(to right, #fb00ff, #00c6ff); /* reverse gradient on hover */  
}  

.usernameImg, .passwordImg{
  width: 20px;
  height: 20px;
}